.NoPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(13deg, rgb(67, 124, 136), rgb(35, 206, 107));
  }
  
  .error-text {
    text-align: center;
  }