@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /*
  --text-primary: #fill-color-here;
  --text-secondary: #fill-color-here;
  --bg-primary: #fill-color-here;
  --bg-secondary: #fill-color-here;
  */
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(13deg, rgb(14, 177, 211), rgb(35, 206, 107));
}

body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #d2ab99;
}

body::-webkit-scrollbar-thumb{
  background: #5a2a27;
}

.App-header {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar{
  width: 5rem;
  height: 100vh;
  
}



